div.container {
  width: 30;
  height: 30;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

img.unselected {
  width: 20px;
  height: 20px;
}

img.selected {
  width: 30px;
  height: 30px;
}
